<div ng-controller="rightCtrl">
	<div ng-if='playerService.isShowHistory'>
		<div class="page-header">
			<h3 class="text-center">Player History</h3>
		</div>
		<uib-accordion close-others="oneAtATime">
			<uib-accordion-group ng-repeat='history in playerService.detail.history' is-open="status.open">
				<uib-accordion-heading>
					{{history.clubName}}
					<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
				</uib-accordion-heading>
				<ul class="list-group">
					<li class="list-group-item">
						<span class="badge">{{history.minute}}</span> Minutes on field
					</li>
					<li class="list-group-item">
						<span class="badge">{{history.goal}}</span> Goal
					</li>
					<li class="list-group-item">
						<span class="badge">{{history.red}}</span> Red Card
					</li>
					<li class="list-group-item">
						<span class="badge">{{history.yellow}}</span> Yellow Card
					</li>
					<li class="list-group-item">
						<uib-rating ng-model="history.rating" max="5" readonly="true"></uib-rating>
					</li>
				</ul>
			</uib-accordion-group>
		</uib-accordion>
	</div>
</div>
